.body{
    background-image: url(dodge_srt_dodge_sportscar_139867_1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}

.comment{
    width: 500px;
    height: 850px;
    background-color:transparent;
    border-radius: 25px;
    border: 1px dotted rgb(241, 216, 216) ;
}
.mainblock{
    width: 1000px;
    height: 850px;
    background-color:transparent;
    border-radius: 25px;
    display: flex;
    border: 1px dotted rgb(241, 216, 216) ;
}
.right{
    width: 50;
}
.left{
    width: 50%;
}
.margin{
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 25px;
}
.heading{
    font-size: 45px;
    text-align: center;
    color: red;
}
.lo{
    color: white;
}
.img{
    margin-top: 20px;
}
.input1{
    width: 400px;
    height: 50px;
    margin: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    background-color:transparent;
    color:white;
    font-size: 20px;
}
.input2{
    width: 190px;
    height: 50px;
    margin: 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    background-color:transparent;
    color:white;
    font-size: 20px;
}
input::placeholder{
    font-weight: 700;
    font-size: 15px;
    color: grey;
}
.upload{
    margin-left: 10px;
    width: 400px;
    height: 100px;
    border: 2px dotted rgb(0, 0, 168) ;
    display: flex;
    justify-content: center;
}
.file{
    margin-left: 50px;
    font-weight: 500;
    color: rgb(191, 224, 224);
}
.check{
    display: flex;
    margin-left: 40px;
    margin-top: -25px;
}
.submit{
    width: 400px;
    height: 40px;
    margin-left: 20px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 25px;
    font-weight: 600;
}
.socialmedia{
    display: flex;
    justify-content: space-around;
}
.social{
    display: flex;
}
.phone{
    margin-top: 20px;
}
.data{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 5px;
    color:white;
}
.submit:hover{
    background-color: green;
    cursor: pointer;
    transition: 1ms;
    color: yellow;
    box-shadow: 0px 0px 50px green ;
    
}
#commentList{
    color:white;
    list-style: Numbers;
}

ul{
   width: 90%;
   height: auto;
   padding-top:5px;
   margin-top: 10px;
   background-color: transparent;
   
}
li{
   width: 80%;
   height: auto;
   padding:10px;
   margin-top: 10px;
   background-color: transparent;
   border:0.15px dotted red;
   border-radius:20px
}